/.qodo
/check_models.py
/check_model_real.py
/dataset
/output.txt
/output_2.txt
/output_3.txt
/result.json
/scaler.pkl
/temp.m4a
/temp.wav
/temp_upload.m4a
/temp_upload.wav
/test_mic.py
/test_req.py
/train_audio_model.py
/urgency_model.pkl
/__pycache__